.header__lang-link {
    font-family: 'Inter' ; 
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-right: 9px;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 6px;
}

.header__lang-link:last-of-type {
    margin-left: 9px;
    margin-right: 0;
}

.header__lang-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
    }
}