.header__lang-link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 109%;
    margin-right: 9px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 8px;
}

.header__lang-link:last-of-type {
    margin-left: 9px;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
    }
}