.photo-grid {
    max-width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 4fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 6fr);
        max-width: 100%;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .photo-grid {
        grid-template-columns: repeat(1, 12fr);
        max-width: 100%;
        row-gap: 12px;
        margin-left: 16px;
        margin-right: 16px;
    }
}


