.place__website {
    align-self: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__website {
        align-self: flex-start;
        margin-left: 16px;
        order: -1;
    }
}