.intro__list {
    max-width: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color:  #ffffff;
    list-style: none;
    margin: 34px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 320px){
    .intro__list {
        font-size: 12px;
        max-width: 288px;
    }
}