.cover__subtitle {
    max-width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
    }
}