.header {
    max-width: 1184px;
    margin: 28px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1280px) {
    .header {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .header {
        margin: 28px 24px 0 24px;
    }
} 

@media screen and (min-width: 320px) and (max-width: 425px) {
    .header {
        margin: 16px 16px 0 16px;
    }
} 