.place__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    max-width: 460px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
        order: -2;
        max-width: 328px;
    }
}

@media screen and (max-width: 720px) {
    .place__title {
        max-width: 460px;
        margin: 0 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .place__title {
        margin: 0 16px;
        font-size: 32px;
        line-height: 109%;
        order: -2;
    }
}

