.footer__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    text-decoration: none;
    max-width: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .footer__link {
        font-size: 24px;
        line-height: 100%;
    }
}