.lead__title {
    margin: auto;
    text-align: center;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    color: #FFFFFF;
    max-width: 720px;
}

@media screen and (min-width: 426px) and (max-width: 720px){
    .lead__title {
        font-size: 55px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .lead__title {
        font-size: 40px;
        max-width: 288px;
    }
}