.footer__copyright {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
    }
}