.lead__image {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 64px;
}



@media screen and (max-width: 1024px) {
    .lead__image {
        
    }
}



@media screen and (min-width: 320px) and (max-width: 768px) {
    .lead__image {
        margin-top: 40px;
        max-width: 100%;
    }
}

