.lead__subtitle {
    max-width: 640px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto 0 auto;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        line-height: 120%;
    }
}

@media screen and (min-width: 426px) and (max-width: 720px){
    .lead__subtitle {
        font-size: 23px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .lead__subtitle {
        font-size: 16px;
        margin-top: 16px;
    }
}