.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 150px 48px 0;
}

@media screen and (max-width: 1280px) {
    .cover {
        margin: 92px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin-top: 66px;
    }
}