.place__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    display: block;
    margin-top: 12px;
    text-decoration: underline;
    max-width: fit-content;
}