.place__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding-top: 12px;
}

.place__link:hover {
    text-decoration: underline;
}