.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: 0;
}

@media screen and {
    
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .cover__title {
        font-size: 50px;
        
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
    }
}