.place {
    max-width: 984px;
    display: grid;
    margin-bottom: 80px;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: column;
    row-gap: 48px;
    column-gap: 40px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        row-gap: 32px;
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
        row-gap: 48px;
        margin-bottom: 73px;
    }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .place {
       min-width: 320px;
       display: flex;
       flex-direction: column;
       margin: 0 0 50px 0;
       row-gap: 32px;
    }
}