.place__website {
    align-self: flex-end;
    max-width: 456px;
}

@media screen and (max-width: 768px) {
    .place__website {
        align-self: flex-end;
    }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .place__website {
        align-self: flex-start;
        order: -1;
        margin: 0 16px;
    }
}