.intro__title {
    max-width: 690px;
    min-height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
    }
}