.intro__title {
    max-width: 690px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
        max-width: 228px;
        margin: 0;
    }
}